[submodule "src/ReplicatedStorage/Modules/ECSFramework"]
	path = src/ReplicatedStorage/Modules/ECSFramework
	url = https://github.com/CoolShank8/Entity-Component-System.git
[submodule "src/ReplicatedStorage/Modules/EntityAdmin"]
	path = src/ReplicatedStorage/Modules/EntityAdmin
	url = https://github.com/CoolShank8/Entity-Component-System.git
